In [1]:
# Importing the libraries
import numpy as np
import pandas as pd

from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
# Importing the dataset
dataset = pd.read_csv("VegetableAndClimateData.csv")

In [3]:
dummies_VegetableType = pd.get_dummies(dataset.VegetableType)
dummies_Distrcit = pd.get_dummies(dataset.Distrcit)

In [4]:
merged_Dataset = pd.concat([dataset,dummies_VegetableType,dummies_Distrcit],axis='columns')

In [5]:
merged_Dataset

,VegetableType,Distrcit,Rainfall,MaximumTemperature,MinimumTemperature,RelativeHumidity,Pressure,Extent,Production,beans,beetroot,carrot,knohkhol,leeks,badulla,kandy,matale,nuwaraeliya,ratnapura
0,beans,badulla,2926.338886,26.24,19.19,92.00,97.50,39.6,292.8,1,0,0,0,0,1,0,0,0,0
1,beans,badulla,1681.330629,27.38,21.05,89.09,97.58,46.0,345.4,1,0,0,0,0,1,0,0,0,0
2,beans,badulla,597.164614,29.50,22.79,82.23,97.76,64.5,538.6,1,0,0,0,0,1,0,0,0,0
3,beans,badulla,428.695443,30.62,23.38,78.33,97.86,77.9,721.1,1,0,0,0,0,1,0,0,0,0
4,beans,badulla,1442.765343,27.67,21.51,88.25,97.61,47.8,367.1,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23970,leeks,ratnapura,490.284643,28.95,24.04,82.21,98.15,6.5,7.4,0,0,0,0,1,0,0,0,0,1
23971,leeks,ratnapura,888.793271,28.03,23.33,85.92,98.05,4.6,5.3,0,0,0,0,1,0,0,0,0,1
23972,leeks,ratnapura,1254.489329,27.51,22.92,87.38,97.99,3.8,4.4,0,0,0,0,1,0,0,0,0,1
23973,leeks,ratnapura,2322.011943,26.85,21.61,89.06,97.91,2.9,3.4,0,0,0,0,1,0,0,0,0,1
23974,leeks,ratnapura,3527.717400,26.28,20.05,90.62,97.81,2.3,2.8,0,0,0,0,1,0,0,0,0,1

In [6]:
final_Dataset = merged_Dataset.drop(['VegetableType','Distrcit',],axis='columns')
final_Dataset

,Rainfall,MaximumTemperature,MinimumTemperature,RelativeHumidity,Pressure,Extent,Production,beans,beetroot,carrot,knohkhol,leeks,badulla,kandy,matale,nuwaraeliya,ratnapura
0,2926.338886,26.24,19.19,92.00,97.50,39.6,292.8,1,0,0,0,0,1,0,0,0,0
1,1681.330629,27.38,21.05,89.09,97.58,46.0,345.4,1,0,0,0,0,1,0,0,0,0
2,597.164614,29.50,22.79,82.23,97.76,64.5,538.6,1,0,0,0,0,1,0,0,0,0
3,428.695443,30.62,23.38,78.33,97.86,77.9,721.1,1,0,0,0,0,1,0,0,0,0
4,1442.765343,27.67,21.51,88.25,97.61,47.8,367.1,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23970,490.284643,28.95,24.04,82.21,98.15,6.5,7.4,0,0,0,0,1,0,0,0,0,1
23971,888.793271,28.03,23.33,85.92,98.05,4.6,5.3,0,0,0,0,1,0,0,0,0,1
23972,1254.489329,27.51,22.92,87.38,97.99,3.8,4.4,0,0,0,0,1,0,0,0,0,1
23973,2322.011943,26.85,21.61,89.06,97.91,2.9,3.4,0,0,0,0,1,0,0,0,0,1
23974,3527.717400,26.28,20.05,90.62,97.81,2.3,2.8,0,0,0,0,1,0,0,0,0,1

In [7]:
#asign values to X without Extent & Production columns
X = final_Dataset.drop(['Extent','Production'],axis = 'columns')


#asign Extent data values to y
y = final_Dataset.Extent

#asign Production values to z
z = final_Dataset.Production

In [8]:
# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

XZ_train, XZ_test, z_train, z_test = train_test_split(X,z, test_size=0.2, random_state=0)

In [9]:
# Fitting Regression to the Training set
regression = LinearRegression()
modelExtent = regression.fit(X_train, y_train)

regressorProduction = LinearRegression()
modelProduction = regressorProduction.fit(XZ_train, z_train)

In [10]:
# Predicting the Test set results
y_pred = modelExtent.predict(X_test)

z_pred = modelProduction.predict(XZ_test)

In [11]:
#Accurecy check
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

print('Variance score: %.2f' % modelExtent.score(X_test, y_test))
print('Variance score: %.2f' % modelProduction.score(XZ_test, z_test))

print('r2_score: %.2f' % r2_score(y_test,y_pred))
print('r2_score: %.2f' % r2_score(z_test,z_pred))

Mean Absolute Error: 7.55855827683523
Mean Squared Error: 125.10712762575466
Root Mean Squared Error: 11.18512975453368
Variance score: 0.62
Variance score: 0.59
r2_score: 0.62
r2_score: 0.59

In [70]:
#Predict specific value
ran_data = [29.263389,26.24,19.19,92.00,97.50,1,0,0,0,0,1,0,0,0,0]
ran_data_arr = np.array(ran_data)
# ran_data_arr = ran_data_arr.reshape(1,-1)

ran_data_arr
pred_single_row = regression.predict([ran_data_arr])
RF_Predict2 = regressorProduction.predict([ran_data_arr])

print(pred_single_row)
print(RF_Predict2)

[30.09498574]
[191.93470964]

In [71]:
# #take all rows and all columns except last one
# X = dataset.iloc[:,:-2].values

# #take all rows and only columns with index 6
# y = dataset.iloc[:,7].values

# #take all rows and only columns with index 6
# z = dataset.iloc[:,8].values

In [72]:
# labelencoder = Labelncoder()
# X[:,0] = labelencoder.fit_transform(X[:,0])

In [73]:
# Splitting the dataset into the Training set and Test set
# X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

XZ_train, XZ_test, z_train, z_test = train_test_split(X,z, test_size=0.2, random_state=0)

In [74]:
# Fitting Regression to the Training set
# regression = LinearRegression()
# modelExtent = regression.fit(X_train, y_train)

# regressorProduction = LinearRegression()
# modelProduction = regressorProduction.fit(XZ_train, z_train)

In [75]:
# Predicting the Test set results
# y_pred = modelExtent.predict(X_test)

# z_pred = modelProduction.predict(XZ_test)

In [76]:
#Accurecy check
# print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
# print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
# print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

# print('Variance score: %.2f' % modelExtent.score(X_test, y_test))
# print('Variance score: %.2f' % modelProduction.score(XZ_test, z_test))

# print('r2_score: %.2f' % r2_score(y_test,y_pred))
# print('r2_score: %.2f' % r2_score(z_test,z_pred))

In [77]:
# df = pd.DataFrame(data=y_test,columns=['y_test'])
# df['y_pred'] = y_pred
# df

In [78]:
#Predict specific value
# ran_data = [2.998320,29.10,21.98,81.14,96.05]
# ran_data_arr = np.array(ran_data)
# ran_data_num = ran_data_arr.reshape(1,-1)

# pred_single_row = regression.predict([single_data_arr])
# RF_Predict2 = modelProduction.predict([single_data_arr])

# print(RF_Predict)
# print(RF_Predict2)

In [79]:
# # import sklearn.external.joblib as extjoblib
# import joblib

In [80]:
# joblib.dump(regression, "multipleRegression_Extent_Model.pkl")
# joblib.dump(regressorProduction, "multipleRegression_Production_Model.pkl")